<nav xmlns="http://www.thymeleaf.org">
	<hr>
	<a th:href="@{/home/index}" th:text="#{menu.home}">Home</a>
	<a th:href="@{/home/about}" th:text="#{menu.about}">About</a>
	<a th:href="@{/home/contact}" th:text="#{menu.contact}">Contact</a>
	<a th:href="@{/home/feedback}" th:text="#{menu.feedback}">Feedback</a>
	<hr>
</nav>

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--	&lt;!&ndash; Thêm các phần tử cần thiết trong phần head của tài liệu &ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<nav>-->
<!--	<hr>-->
<!--	<a th:href="@{/home/index}" th:text="#{menu.home}">Home</a>-->
<!--	<a th:href="@{/home/about}" th:text="#{menu.about}">About</a>-->
<!--	<a th:href="@{/home/contact}" th:text="#{menu.contact}">Contact</a>-->
<!--	<a th:href="@{/home/feedback}" th:text="#{menu.feedback}">Feedback</a>-->
<!--	<hr>-->
<!--</nav>-->
<!--</body>-->
<!--</html>-->
